.btn {
  background-color: #ff1500;
  color: #ffffff;
  border-radius: 10px;
  padding-top: calc(23px + (31 - 23) * ((100vw - 320px) / (1440 - 320)));
  padding-bottom: calc(23px + (31 - 23) * ((100vw - 320px) / (1440 - 320)));
  padding-left: calc(10px + (29 - 10) * ((100vw - 320px) / (1440 - 320)));
  padding-right: calc(10px + (29 - 10) * ((100vw - 320px) / (1440 - 320)));
  font-family: 'Uni Sans Heavy Caps', sans-serif;
  font-size: calc(18px + (24 - 18) * ((100vw - 320px) / (1440 - 320)));
  line-height: calc(22px + (29 - 22) * ((100vw - 320px) / (1440 - 320)));
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  box-shadow: 0 0 20px 5px rgba(#ff1500, 0.5);
  transition: 0.3s;

  &:hover {
    box-shadow: 0 0 30px 10px rgba(#ff1500, 0.9);
  }
}
@media (min-width: 1440px) {
  .btn {
    padding: 31px 29px;
    font-size: 24px;
    line-height: 29px;
  }
}
@media (max-width: 768px) {
  .btn {
    width: 100%;
  }
}
