.why {
  margin-bottom: 80px;
  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__content {
    display: grid;
    grid-template-columns: 585px 1fr;
    grid-template-rows: auto;
    grid-gap: 50px;
    margin-bottom: calc(55px + (90 - 55) * ((100vw - 320px) / (1440 - 320)));
  }

  &__content-img {
    border-radius: 12px;
    overflow: hidden;
  }

  &__content-list {
  }

  &__content-list-title {
    font-family: 'Uni Sans Heavy Caps', sans-serif;
    font-size: 36px;
    line-height: 43px;
    text-transform: uppercase;
    margin-bottom: 20px;
  }

  .title {
    margin-bottom: calc(20px + (50 - 20) * ((100vw - 320px) / (1440 - 320)));
  }

  .info-2 {
    margin-bottom: calc(20px + (30 - 20) * ((100vw - 320px) / (1440 - 320)));
  }

  .info-1 {
    margin-bottom: calc(30px + (80 - 30) * ((100vw - 320px) / (1440 - 320)));
  }

  .title-big {
    margin-bottom: 40px;
    font-size: calc(52px + (96.5 - 52) * ((100vw - 320px) / (1440 - 320)));
    line-height: calc(62px + (116 - 62) * ((100vw - 320px) / (1440 - 320)));
  }
}

@media (min-width: 1440px) {
  .why {
    &__content {
      margin-bottom: 90px;
    }
    .title {
      margin-bottom: 50px;
    }
    .info-2 {
      margin-bottom: 30px;
    }
    .info-1 {
      margin-bottom: 80px;
    }
    .title-big {
      line-height: 116px;
      font-size: 96.5px;
    }
  }
}

@media (max-width: 1000px) {
  .why {
    &__content {
      grid-template-columns: 500px 1fr;
    }
  }
}

@media (max-width: 900px) {
  .why {
    &__content {
      grid-template-columns: 350px 1fr;
    }
  }
}

@media (max-width: 768px) {
  .why {
    &__content {
      grid-template-columns: 1fr;
      grid-gap: 35px;
    }
    &__content-img {
      max-width: 270px;
      margin: 0 auto;
    }
  }
}
