body {
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  background-color: #161c28;
  &.lock {
    overflow: hidden;
  }
}

.container {
  width: 100%;
  max-width: 1208px;
  padding: 0 24px;
  margin: 0 auto;
}
